.filelist {
  float: left;
  width: 40%;
  height: 100%;
  background-color: rgb(71, 71, 71);
  overflow-y: scroll;
}

.filelist a {
  text-decoration: none;
}

.filelist::-webkit-scrollbar,.analyres-con::-webkit-scrollbar {
  display: block;
  width: 6px;
  background-color: white;
}

.filelist::-webkit-scrollbar-thumb, .analyres-con::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.333);
}

.analyres-con {
  float: left;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
}
